@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    /* -----------------------------
    Color variables
    ----------------------------- */
    /* Green */
    --color-primary-1: #035F64;
    --color-primary-1-light: #077D82;
    --color-primary-1-lighter: #5CA5AB;
    /* Pink */
    --color-primary-2: #CA3D66;
    --color-primary-2-light: #DB6990;
    --color-primary-2-lighter: #E8ABBE;
    /* Light green */
    --color-primary-3: #85C7A9;
    --color-primary-3-light: #ABD7C2;
    --color-primary-3-lighter: #D0E7DB;
    /* Red */
    --color-secondary-1: #AA2734;
    --color-secondary-1-light: #ED6C6D;
    --color-secondary-1-lighter: #F7BCB5;
    /* Blue */
    --color-secondary-2: #46457E;
    --color-secondary-2-light: #6D6DB1;
    --color-secondary-2-lighter: #A7A5D2;
    /* Yellow */
    --color-secondary-3: #F39339;
    --color-secondary-3-light: #F7AB62;
    --color-secondary-3-lighter: #FBCEA3;
    /* Others */
    --color-black: #1c1b1b;
    --color-black-light: #433e3e;
    --color-black-lighter: #a19696;
    --color-white: #FFFFFF;
    --color-text: var(--color-black);
    --color-text-white: var(--color-white);

    /* Section colors */
    /* To be redefined with other classes on specific html elements */
    --section-color: var(--color-black);
    --section-color-light: var(--color-black-light);
    --section-color-lighter: var(--color-black-lighter);

    /* Layout variables */
    --header-height: 110px;
    --footer-height: 90px;
    --footer-color: var(--color-primary-1);
    --normal-max-width: 1200px;
    --font-size-bold: 600;
    /* Max width of a key-value
    Based on the max width of a flex column */
    --key-value-max-width: calc(var(--normal-max-width) * 0.9 / 3);

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    padding: 0;
    margin: 0;

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}


/* ------------------------------------------
Section coloring
------------------------------------------ */
.is-white {
    --section-color: var(--color-white);
}

.is-primary-1 {
    --section-color: var(--color-primary-1);
    --section-color-light: var(--color-primary-1-light);
    --section-color-lighter: var(--color-primary-1-lighter);
}

.is-primary-2 {
    --section-color: var(--color-primary-2);
    --section-color-light: var(--color-primary-2-light);
    --section-color-lighter: var(--color-primary-2-lighter);
}

.is-primary-3 {
    --section-color: var(--color-primary-3);
    --section-color-light: var(--color-primary-3-light);
    --section-color-lighter: var(--color-primary-3-lighter);
}

.is-secondary-1 {
    --section-color: var(--color-secondary-1);
    --section-color-light: var(--color-secondary-1-light);
    --section-color-lighter: var(--color-secondary-1-lighter);
}

.is-secondary-2 {
    --section-color: var(--color-secondary-2);
    --section-color-light: var(--color-secondary-2-light);
    --section-color-lighter: var(--color-secondary-2-lighter);
}

.is-secondary-3 {
    --section-color: var(--color-secondary-3);
    --section-color-light: var(--color-secondary-3-light);
    --section-color-lighter: var(--color-secondary-3-lighter);
}


/* ------------------------------------------
Flexbox system
------------------------------------------ */
/* Container */
.columns {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: start;
    gap: 5%;
}

/* Flex items */
.column {
    flex: 1 200px;

    &.is-size-2 {
        flex: 2 400px;
    }
}

@media (orientation: portrait) {
    .column {
        flex-basis: 100%;
    }
}


/* ------------------------------------------
Header
------------------------------------------ */
header {
    --color-title: var(--section-color);
    --menu-background-color: lightgrey;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: var(--header-height);
    background-color: var(--color-white);
    box-shadow: 0 0 5px var(--color-black);
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
    display: none; /* Hidden by default, to be displayed by JS */
    scrollbar-width: thin;

    &.is-active {
        display: block;
    }

    .title {
        font-family: "Caveat", cursive;
        font-weight: 700;
        font-size: calc(var(--header-height) / 2 - 16px);
        height: calc(var(--header-height) / 2);
        max-height: calc(var(--header-height) / 2);
        white-space: nowrap;
        color: var(--color-title);
        display: flex;
        gap: 17px;
        padding: 6px 15px;
    }

    nav {
        height: calc(var(--header-height) / 2);
        max-height: calc(var(--header-height) / 2);
        display: flex;
        justify-content: space-evenly;
        padding: 6px 0;

        a {
            flex: 0 0 300px;
            padding: 5px 10px;
            height: calc(var(--header-height) / 2 - 12px);
            line-height: calc(var(--header-height) / 2 - 12px - 10px);
            border-radius: calc((var(--header-height) / 2 - 12px) / 2);
            background-color: var(--menu-background-color);
            transition: background-color 300ms;
            color: var(--color-text);
            text-decoration-line: none;
            text-align: center;
            vertical-align: middle;

            &.is-active {
                color: var(--color-text-white);
                background-color: var(--color-black-light);
            }

            * {
                display: inline-block;
                vertical-align: middle;
                line-height: 1;
            }
        }
    }
}


/* ------------------------------------------
Footer
------------------------------------------ */
footer {
    height: var(--footer-height);
    bottom: 0;
    background: radial-gradient(circle at bottom, var(--footer-color) var(--footer-height), transparent var(--footer-height));

    nav {
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 2rem;
        padding: 0 10px;
        text-align: center;

        > * {
            padding-bottom: 5px;
        }

        .auran-link {
            height: var(--footer-height);
            width: var(--footer-height);
            flex: 0 0 var(--footer-height);
            margin-bottom: calc(-0.1 * var(--footer-height));
            background: bottom / 70% no-repeat url("./auran-logoblanc.png");
        }
    }

    > .footer-end {
        height: 20%;
        background-color: var(--footer-color);
    }
}


/* ------------------------------------------
Hero : pleine page type première page
------------------------------------------ */
.hero {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background: calc(100% - 10px) calc(100% - 10px) / min(10%, 100px) no-repeat url("./auran-logoblanc.png"),
    var(--section-color);
    color: var(--color-text-white);

    .hero-full-element {
        max-width: 80%;
        max-height: 80%;
    }
}


/* ------------------------------------------
Sections
------------------------------------------ */
section {
    min-height: calc(100vh - var(--header-height));
    padding: 10vh max(calc((100% - var(--normal-max-width)) / 2), 10px);

    &.no-header {
        min-height: 100vh;
    }

    &.full-width {
        padding: 10vh 10px;
    }
}


/* ------------------------------------------
Titles
------------------------------------------ */
h1, h2, h3, h4, h5, h6 {
    color: var(--section-color);
    line-height: 1.5;
    font-weight: 700;

    > span {
        background-color: var(--section-color-lighter);
        padding: 0 10px;
    }
}

h1 {
    font-size: 1.8rem;
    margin-top: 100px;
    margin-bottom: 50px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 75px;
    margin-bottom: 37px;
}

h3 {
    font-size: 1.2rem;
    margin-top: 50px;
    margin-bottom: 25px;
}


/* ------------------------------------------
Key-values
------------------------------------------ */
.key-value {
    max-width: var(--key-value-max-width);

    .value {
        color: var(--section-color);
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: -0.8rem;

        .unit {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    .description {
        color: var(--color-text-white);
        background-color: var(--section-color);
        padding: 10px;
        border-radius: 0 10px 10px 10px;
    }
}


/* ------------------------------------------
Paragraphs
------------------------------------------ */
p {
    margin-bottom: 10px;
    text-align: justify;
    hyphens: auto;
}

.bold {
    background-color: var(--section-color);
    color: var(--color-text-white);
    font-weight: var(--font-size-bold);
    padding: 0 5px;
}

ul {
    list-style-type: "—";

    li {
        margin-left: 1.1rem;
        padding-left: 0.3rem;
    }
}

.no-highlight {
    .bold {
        background-color: unset;
        color: var(--section-color);
        padding: 0;
        font-weight: 700;
    }
}


/* ------------------------------------------
Sticky elements
------------------------------------------ */
.stick-to-top {
    position: sticky;
    top: calc(var(--header-height));

    &.sticky-title {
        padding: 25px 0;
        z-index: 100;
    }

    &.stick-to-title {
        top: calc(var(--header-height));
        padding-top: 20px;
        z-index: 99;
    }

    &.sticky-anchor {
        top: calc(var(--header-height));
        padding-top: 20px;
        z-index: 99;
    }

    &.stick-to-anchor {
        top: calc(var(--header-height));
        padding-top: 20px;
        z-index: 98;
    }

    &.no-header {
        top: 0;
    }
}


/* ------------------------------------------
Generic styling
------------------------------------------ */
/* scroll-scene elements are defined by the scrollytelling javascript library */
scroll-scene {
    display: block;
}

.has-background-white {
    background-color: var(--color-white);
}

.full-pc {
    width: 100%;
    height: 100%;
}

.min-full-height {
    min-height: calc(100vh - var(--header-height));

    &.no-header {
        min-height: 100vh;
    }
}

.min-half-height {
    min-height: calc(50vh - var(--header-height));

    &.no-header {
        min-height: 50vh;
    }
}

.min-full-height-with-title {
    min-height: calc(100vh - var(--header-height) - (3 * 1.8rem * 1.5));
}

.full-height {
    height: calc(100vh - var(--header-height));

    &.no-header {
        height: 100vh;
    }
}

.button {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
    background-color: var(--section-color);
    color: var(--color-text-white);
    border-radius: 10px;

    &:hover {
        border: solid var(--section-color-lighter) 5px;
    }
}

a {
    color: var(--color-primary-1);
}